<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<p>jiplahoi running rails app wheeeeee!!</p>
<p>Fast prototyping here I come</p>

<p>links:</p>

<p><%= link_to 'My Blog', controller: 'articles' %></p>
<!-- multiple ways of creating links: -->
<p><%= link_to 'New article via relative url', '../articles/new' %></p>
<p><%= link_to 'New article via prefix_path', new_article_path %></p>
